<h1><small> Reviews </small></h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.text %>
      <%= link_to 'Edit', edit_paper_review_path(review.paper, review) %>
      <%= link_to 'Destroy', [review.paper, review], method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
